/* requestGraph.css */
.main-graph-container {
  position: relative;
  padding: 20px;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.number-of-requests {
  margin: 20px 0;
}

.chart-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.error-boundary-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* Small Phones */

@media (min-width: 360px) and (max-width: 480px) {
  .main-graph-container {
    width: 80%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .main-graph-container {
    width: 80%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-graph-container {
    width: 80%;
  }
}
