.main-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 1rem;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 2rem;
}

.motion-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #5d5c5c;
  border-radius: 10%;
  width: 210px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.motion-div:hover {
  background-color: #f8f9fa;
}

.links {
  color: #111;
  text-decoration: none;
}

.links-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-text {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

span {
  color: #111;
}

@media screen and (max-width: 480px) {
  .main-contact-container {
    width: 80%;
  }
  .link-container {
    flex-direction: column;
  }
  .motion-div {
    background-color: rgb(203, 205, 206);
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-contact-container {
    width: 70%;
  }
  .link-container {
    flex-direction: column;
  }
  .motion-div {
    background-color: rgb(203, 205, 206);
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
}
