.main-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #f8f9fa; */
}

.header-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main-header {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.header-slogan {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 25px;
}
