.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.title-container {
  display: flex;
  align-items: center;
}
.title {
  color: #fff;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;

  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-direction: row; */
}
.nav-links:hover {
  color: #d6d7d8;
}
