.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: rgba(0, 0, 0, 0.5);
}
.title-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.title {
  color: #fff;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.nav-links:hover {
  color: #d6d7d8;
}

@media screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
  }

  .nav-links {
    margin-right: 0px;
  }
}
