/* ticketForm.css */
.main-container {
  position: relative;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1;
}

.back-button:hover {
  background-color: #0056b3;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  /* background-image: url("https://wallpaperaccess.com/full/1663640.jpg"); */
  background-size: contain;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
label {
  font-size: 16px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container-info {
  display: flex;
  flex-direction: column;
}

.form-info {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 480px;
}

.form-info::placeholder {
  color: #999;
}

select.form-info {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 10px center;
  background-size: 20px 20px;
}

.form-info:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/*Checkbox */

.checkbox-container {
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-group h6 {
  margin-right: 20px;
  font-size: 16px;
  color: #333;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
  color: #333;
}

.checkbox-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.checkbox-input {
  margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .back-button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .form-container {
    padding: 15px;
  }

  .form-info {
    font-size: 14px;
    padding: 8px;
    width: 92vw;
  }

  button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .checkbox-group h6 {
    font-size: 14px;
  }

  .checkbox-group label {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .main-container {
    padding: 5px;
  }

  .back-button {
    margin: 5px;
    padding: 6px 12px;
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  .form-container {
    padding: 10px;
  }

  .form-info {
    font-size: 12px;
    padding: 6px;
  }

  button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .checkbox-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .checkbox-group h6 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .checkbox-group label {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
